<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="userName" value="xxxx" />
    <add key="password" value="xxxxx" />
    <add key="ftpUri" value="ftp://xxxxx/xxxx" />
  </appSettings>
</configuration>